$total_time: 15s;
$segment_time: $total_time / 4;
$initial_delay: 0.5s;
$border_width: 40px;
$border_color: rgba(255,255,255,0.04);

.surrounding-borders {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.surrounding-borders div {
	position: fixed;
	background-color: $border_color;
}

.surrounding-borders div:first-child {
	width: 0;
	height: $border_width;
	top: 0;
	left: 0;
}

body[data-time_total] .surrounding-borders div:first-child {
	width: 100%;
	-webkit-transition: width $segment_time linear $initial_delay;
	transition: width $segment_time linear $initial_delay;
}

.surrounding-borders div:nth-child(2) {
	top: $border_width;
	right: 0;
	width: $border_width;
	height: 0;
}

body[data-time_total] .surrounding-borders div:nth-child(2) {
	height: calc(100% - #{$border_width});
	-webkit-transition: height $segment_time linear ($segment_time + $initial_delay);
	transition: height $segment_time linear ($segment_time + $initial_delay);
}

.surrounding-borders div:nth-child(3) {
	right: $border_width;
	bottom: 0;
	width: 0;
	height: $border_width;
}

body[data-time_total] .surrounding-borders div:nth-child(3) {
	width: calc(100% - #{$border_width});
	-webkit-transition: width $segment_time linear (($segment_time * 2) + $initial_delay);
	transition: width $segment_time linear (($segment_time * 2) + $initial_delay);
}

.surrounding-borders div:nth-child(4) {
	bottom: $border_width;
	left: 0;
	width: $border_width;
	height: 0;
}

body[data-time_total] .surrounding-borders div:nth-child(4) {
	height: calc(100% - #{$border_width * 2});
	-webkit-transition: height $segment_time linear (($segment_time * 3) + $initial_delay);
	transition: height $segment_time linear (($segment_time * 3) + $initial_delay);
}

/* Ending Effect */
body[data-time_total] .surrounding-borders {
	z-index: 100;
  border: $border_width solid $border_color;
	opacity: 0;
/*  -webkit-transition: border $initial_delay ($total_time + $initial_delay), opacity $initial_delay ($total_time + $initial_delay);*/
  transition: border $initial_delay, opacity $initial_delay ($total_time + $initial_delay);
}

