body[tbd-garlic-settings-visible] > div:not(#tbd_garlic_settings_container) {
/*  -webkit-filter: blur(3px);*/
}

#tbd_garlic_settings_container {
  background-color: #262626;
  position:fixed;
  
  top:15px;
  right:-150px;

  z-index: 2147483647!important;
  width: 320px;
  height: 320px;
  opacity:0;
  
  box-shadow: -3px 3px 5px #333;
  -webkit-transition: opacity 0.3s linear, top 0.2s ease-in, right 0.2s ease-in;
  transition: opacity 0.3s linear, top 0.2s ease-in, right 0.2s ease-in;
}

body[tbd-garlic-settings-visible] #tbd_garlic_settings_container{
  opacity:1;
  
  top:15px;
  right:15px;
}

#tbd_garlic_settings {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  z-index: 2147483647!important;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

#tbd_garlic_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border: none;
  background-color: transparent;
  width: 100%;
  z-index: 2147483647!important;
}

body[tbd-garlic-active] #tbd_garlic_container {
  display:block;
}

#tbd_garlic_frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  z-index: 2147483647 !important;
  background-color: transparent;
  width: 100%;
  height: 100%;
}