@import "compass/css3";
@import "variables";

@include font-face("Handwritten", font-files("AmaticSC-Regular.ttf"));

html {
  padding:0;
  margin:0;
  height:100%;
}

body {
  background-color:transparent;
  padding:0;
  margin:0;
  color:#EEE;
  position:relative;
  height:100%;
  background-color:#EEE;
}

a {
  color:$panel_link_color;
}

a:hover {
  color:$panel_link_hover_color;
}

.callout-to-button {
  h4 {
    margin-top: 30px;
    margin-right: 74px;
    font-family: "Handwritten";
    font-weight: normal;
    font-size: 34px;
    color: #777;
    line-height: 40px;
  }

  background: transparent url("chrome-extension://__MSG_@@extension_id__/images/arrow.png") no-repeat top right;

  width:340px;
  height:300px;
  position:fixed;
  right:20px;
  top:0;
  
}

.wrapper {
  background-color: $panel_body_color;
  width:450px;
  overflow:hidden;
  margin:40px auto;
  box-shadow:1px 0 10px #333;
  position: relative;
  h3 {
    margin:10px 0 5px;
  }
}

.content {
  padding:5px 20px;
  position:relative;
  
  .site-setting {
    padding:8px 5px;
    
    .btn-group {
      margin-top:0;
      margin-right:10px;
/*      display:inline-block;*/
    }
    
    h4 {
      display:inline-block;
    }
  }

}

header {
  background-color: $panel_header_color;
  padding: 5px 10px;
  border-bottom: 1px solid #CCC;
  
  .logo {
    background: $panel_header_color url("chrome-extension://__MSG_@@extension_id__/images/garlic_logo_white.png") no-repeat 5px center;
    padding-left: 60px;
    margin: 20px 0;
  }
  
  h2, h5 {
    padding:0;
    margin:0;
  }
  
  h5 {
    font-weight:normal;
  }
}

.footer {
  margin-top:10px;
  border-top:1px groove #CCC;
  padding:10px 0;
}


button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: absolute;
  right: 13px;
  top: 9px;
}