@import "compass/css3";
@import "effects";
@import "variables";
@import "effects";

@include font-face("Avenir", font-files("Avenir-Light.ttf"));
@include font-face("AvenirNext", font-files("AvenirNext-Regular.ttf"));

body {
  font-size: 16px;
  font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
/*  border-top:5px solid $highlight_color;*/
  background-color:transparent;
}

#garlic_overlay_container {
  padding:60px 45px 60px;
  opacity:0.98;
  position:absolute;
  top:0; left:0; right:0;
  text-align:center;
  overflow:scroll;
  height:100%;
  .timer {
    max-width:800px;
    margin: auto auto;
    text-align:center;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #FFF;

    .remaining {
      font-family:Avenir;
      font-weight:normal;
      display:block;
      font-size:60px;
    }
    
    .until {
      margin-top:-13px;
      font-family:"AvenirNext";
      font-size:22px;
    }
  }
  
  .message {
    font-family:"AvenirNext";
    font-size:22px;
    margin-bottom:40px;
  }
  
  .quote {
    background:transparent url('chrome-extension://__MSG_@@extension_id__/images/quote_icon.png') no-repeat center 25px;
    padding-top:50px;
    display:block;
    
    margin:auto auto;
    h3 {
      font-weight:normal;
      font-size:36px;
      line-height:55px;
      font-style:italic;
      font-family: Times;;
    }
    span {
      font-size: 22px;
      margin-top: 28px;
      display: block;
      font-family: Times;
    }
    a {
      display:inline-block;
      text-decoration:underline;
    }
    
    span:before {
      content:"—";
    }
    
    max-width:1100px;
  }
  
  $footer_height: 20px;

  .wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin-bottom: -$footer_height; /* the bottom margin is the negative value of the footer's height */
    position:relative;
  }

  .footer, .push {
    position:relative;
    top:10px;
    display:block;
    height: $footer_height!important; /* .push must be the same height as .footer */
  }

  .footer {
    font-size:13px;
    text-align:right;
    padding:0 15px;
    
    a {
      text-decoration:underline;
      color:inherit;
    }
  }
}

